@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

* {
  font-family: "Ubuntu", sans-serif;
}

.cl-internal-zpbffa {
  color: #fff;
}

.cl-internal-1nn89fl {
  color: #fff;
}

.cl-internal-1lnl7p1:hover {
  background-color: #2287ca28;
  color: #fff;
}

.cl-userButtonPopoverActionButton:hover {
  color: rgb(43, 122, 240);
}

.bg-image {
  background-image: url("../public/icons/cr-icon.png");

  background-position: center;
}

.bg-primary {
  background-color: #4747476b !important;
}

.cl-internal-4b57d1 {
  color: #fff;
  border-color: #fff;
}

.cl-internal-1j7ahlv {
  width: 2.5rem;
  height: 2.5rem;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mobile-nav {
  display: none;
}

@media (max-width: 480px) {
  .mobile-nav {
    display: block;
  }
}

.group:hover.card {
  transform: perspective(1000px) rotateY(var(--rotate, 0deg));
  transition: transform 0.3s;
}

.str-video {
  background: #0b0b0b;
}

div.str-video__video-preview-container {
  border-bottom: 5px;
  border-right: 5px;
  border-top: 1px;
  border-left: 1px;
  border-style: solid;
  font-size: 30px;
  border-color: #ffffff;
  background-color: #0b0b0b;
}

div.str-video__video-placeholder {
  border-bottom: 5px;
  border-right: 5px;
  border-top: 1px;
  border-left: 1px;
  border-style: solid;
  font-size: 30px;
  border-color: #ffffff;
  background-color: #0b0b0b;
}

.group:hover.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  transform: rotateY(var(--rotate, 0deg));
  transition: transform 0.3s;
}

/* ======== stream css overrides ======== */
.str-video__call-stats {
  max-width: 500px;
  position: relative;
}

.str-video__speaker-layout__wrapper {
  max-height: 700px;
}

.cl-socialButtonsIconButton {
  background-color: #ffffff !important;
}

.str-video__participant-details {
  color: white;
}

.bg-dark-2 {
  background-color: #0b0b0b;
}

.border-right {
  border-right: 2px solid #fff;
}

.eth-card-border {
  border-bottom: 5px;
  border-right: 5px;
  border-top: 1px;
  border-left: 1px;
  border-style: solid;
  font-size: 30px;
  border-color: #ffffff;
  -webkit-box-shadow: 18px 12px 37px -9px rgba(79, 79, 79, 1);
  -moz-box-shadow: 18px 12px 37px -9px rgba(79, 79, 79, 1);
  box-shadow: 18px 12px 37px -9px rgba(79, 79, 79, 1);

}

.text-green {}

.eth-btn-border {
  border-bottom: 5px;
  border-right: 5px;
  border-top: 1px;
  border-left: 1px;
  border-style: solid;
  font-size: 16px;
  border-color: #ffffff;
}

.eth-card-border-block {
  border-bottom: 6px;
  border-right: 6px;
  border-top: 1px;
  border-left: 1px;
  border-color: #ffffff;
  border-style: solid;
}

.str-video__composite-button__button-group .str-video__call-controls__button.str-video__menu-toggle-button {
  background-color: #0b0b0b00 !important;

}

.size-12 {
  border-radius: 100% !important;
}

.glassmorphism-1 {
  background: rgb(173, 216, 230) !important;
}

.glassmorphism-2 {
  background: rgb(144, 238, 144) !important;
}

.glassmorphis-3 {
  background: rgb(230, 230, 250) !important;
}

.glassmorphism-4 {
  background: rgb(255, 255, 224) !important;
}

.eth-card-border-bottom {
  border-bottom: 6px;
  border-right: 1px;
  border-top: 1px;
  border-left: 1px;
  border-color: #5e5e5e;
  border-style: solid;
  background-size: 100% 100%;
  /* initial background size */
  background-position: center;
  transition: background-size 0.2s ease-in-out, transform 0.1s ease-in-out;
}

.eth-card-border-bottom:hover {
  transform: scale(1.03);
  transition: transform 0.3s ease-in-out;
  /*background-image: url('');*/
  background-position: center;
  transition: transform 0.3s ease-in-out;
  background-size: 120% 120%;
  border-right: 6px;
  border-color: #ffffff;
  border-style: solid;
}

.border {
  border: 1px #fff solid;
  border-right: 4px #fff solid;
  border-bottom: 4px #fff solid;
  padding: 20px;
  font-size: 20px;
}

.border-counter {
  border: 0.5px #fff solid;
  border-right: 3px #fff solid;
  border-bottom: 3px #fff solid;
  padding: 1px;
  border-radius: 4px;
}



.eth-card-1 {
  border-bottom: 6px;
  border-right: 6px;
  border-top: 2px;
  border-left: 2px;

  background-color: #a099ff;
  background-image:
    radial-gradient(at 83% 67%, rgb(152, 231, 156) 0, transparent 58%),
    radial-gradient(at 67% 20%, hsla(357, 94%, 71%, 1) 0, transparent 59%),
    radial-gradient(at 88% 35%, hsla(222, 81%, 65%, 1) 0, transparent 50%),
    radial-gradient(at 31% 91%, hsla(9, 61%, 61%, 1) 0, transparent 52%),
    radial-gradient(at 27% 71%, hsla(336, 91%, 65%, 1) 0, transparent 49%),
    radial-gradient(at 74% 89%, hsla(30, 98%, 65%, 1) 0, transparent 51%),
    radial-gradient(at 53% 75%, hsla(174, 94%, 68%, 1) 0, transparent 45%);
}

.eth-card-2 {
  background-color: #a099ff;
  background-image:
    radial-gradient(at 15% 100%, rgb(152, 231, 156) 0, transparent 55%),
    radial-gradient(at 75% 25%, hsla(357, 94%, 71%, 1) 0, transparent 58%),
    radial-gradient(at 50% 50%, hsla(222, 81%, 65%, 1) 0, transparent 52%),
    radial-gradient(at 10% 40%, hsla(9, 61%, 61%, 1) 0, transparent 50%),
    radial-gradient(at 40% 10%, hsla(336, 91%, 65%, 1) 0, transparent 48%),
    radial-gradient(at 80% 60%, hsla(30, 98%, 65%, 1) 0, transparent 45%),
    radial-gradient(at 60% 80%, hsla(174, 94%, 68%, 1) 0, transparent 42%);
}

.eth-card-3 {
  background-color: #a099ff;
  background-image:
    radial-gradient(at 80% 70%, rgb(152, 231, 156) 0, transparent 55%),
    radial-gradient(at 10% 90%, hsla(357, 94%, 71%, 1) 0, transparent 58%),
    radial-gradient(at 10% 70%, hsla(222, 81%, 65%, 1) 0, transparent 52%),
    radial-gradient(at 90% 10%, hsla(9, 61%, 61%, 1) 0, transparent 50%),
    radial-gradient(at 40% 10%, hsla(336, 91%, 65%, 1) 0, transparent 48%),
    radial-gradient(at 100% 70%, hsla(30, 98%, 65%, 1) 0, transparent 45%),
    radial-gradient(at 20% 80%, hsla(174, 94%, 68%, 1) 0, transparent 42%);
}

.eth-card-4 {
  background-color: #a099ff;
  background-image:
    radial-gradient(at 90% 10%, rgb(152, 231, 156) 0, transparent 40%),
    radial-gradient(at 10% 60%, hsla(357, 94%, 71%, 1) 0, transparent 50%),
    radial-gradient(at 75% 25%, hsla(222, 81%, 65%, 1) 0, transparent 45%),
    radial-gradient(at 10% 60%, hsla(9, 61%, 61%, 1) 0, transparent 48%),
    radial-gradient(at 40% 10%, hsla(336, 91%, 65%, 1) 0, transparent 42%),
    radial-gradient(at 80% 60%, hsla(30, 98%, 65%, 1) 0, transparent 40%),
    radial-gradient(at 60% 80%, hsla(174, 94%, 68%, 1) 0, transparent 38%);
}

.eth-card-5 {
  background-color: #a099ff;
  background-image:
    radial-gradient(at 80% 30%, rgb(152, 231, 156) 0, transparent 40%),
    radial-gradient(at 50% 80%, hsla(357, 94%, 71%, 1) 0, transparent 50%),
    radial-gradient(at 75% 25%, hsla(222, 81%, 65%, 1) 0, transparent 45%),
    radial-gradient(at 70% 10%, hsla(9, 61%, 61%, 1) 0, transparent 48%),
    radial-gradient(at 90% 70%, hsla(336, 91%, 65%, 1) 0, transparent 42%),
    radial-gradient(at 10% 60%, hsla(30, 98%, 65%, 1) 0, transparent 40%),
    radial-gradient(at 10% 80%, hsla(174, 94%, 68%, 1) 0, transparent 38%);
}



.str-video__menu-container {
  color: white;
}

.str-video__notification {
  color: white;
}

.str-video__participant-list {
  background-color: #1c1f2e;
  padding: 10px;
  border-radius: 10px;
  color: white;
  height: 100%;
}

.str-video__call-controls__button {
  height: 40px;
}

.bg-blue-1 {
  border: 0.5px #fff solid;
  border-right: 3px #fff solid;
  border-bottom: 3px #fff solid;
  padding: 1px;
  width: 100%;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: #252525;
}

@media (max-width: 480px) {
  .bg-blue-1 {
    padding: 8px;
  }
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.glassmorphism2 {
  background: rgba(18, 17, 17, 0.25);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

/* ==== clerk class override ===== */

.cl-providerIcon_github {
  filter: invert(1);
}

.cl-userButtonPopoverActionButtonIcon {
  color: white;
}

.cl-logoBox {
  height: 40px;
}

button.bg-green-500 {
  animation: gradientAnimate 10s infinite;
  background-size: 200% 200%;
  font-size: 20px;
  padding: 20px;
  background-color: #0b0b0b;
  border: 1px #fff solid;
  border-right: 4px #fff solid;
  border-bottom: 4px #fff solid;
}

@keyframes gradientAnimate {
  0% {
    background-position: 0% 50%;
  }

  25% {
    background-position: 25% 50%;
  }

  50% {
    background-position: 50% 50%;
  }

  75% {
    background-position: 75% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.cl-dividerLine {
  background: #252a41;
  height: 2px;
}

.cl-socialButtonsIconButton {
  border: 3px solid #565761;
}

.cl-internal-wkkub3 {
  color: white;
}

.cl-userButtonPopoverActionButton {
  color: white;
}

.str-video__composite-button__button-group {
  border: 1px solid #fff !important;
}

.str-video__composite-button__button-group:hover.str-video__composite-button__button-group--active-secondary:hover {
  background-color: #c21616;
  border-bottom: 5px;
  border-right: 5px;
  border-top: 1px;
  border-left: 1px;
  border-style: solid;
  border-color: #ffffff;
}

button.str-video__call-controls__button {
  border-radius: 100%;
}

/* =============================== */

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }
}

/* animation */

.show-block {
  width: 100%;
  max-width: 350px;
  display: block;
  animation: show 0.7s forwards linear;
}

@keyframes show {
  0% {
    animation-timing-function: ease-in;
    width: 0%;
  }

  100% {
    animation-timing-function: ease-in;
    width: 100%;
  }
}